@import "../helpers/variables";
@import "../helpers/mixins";


.delete {
  color: black;
  position: relative;
  left:25px;
  top: -24px;
  display: none;
  cursor: pointer;
}

.card-header-two {
  background-color: $theme_color;
  color: white;
  height: 50px;
  width: 16px;
  h6 {
      margin-left: 4px;
      font-family: $roboto;
  }
  @include hover-background(#1A998E);
}

.card-header {
  background-color: #80878B;
  color: white;
  height: 50px;
  width: 16px;
  h6 {
      margin-left: 4px;
      font-family: $roboto;
  }
  @include hover-background(#1A998E);
}
.card-base {
  margin-left: 10px;
  font-family: $roboto;
}

.card {
    @include themes-border(1px,#F4F5F6);
    @include hover-border(#E2E3E5,1px);
    background-color: white;
    color: $theme_color;
    width: 150px;
    height: 50px;
    margin: {
        right: 10px;
        bottom: 10px;
    }
    display: flex;
    flex: {
        wrap: wrap;
        direction: row;
    }
    align-items: center;
    h6 {
        margin: {
            top: 1px;
            bottom: 10px;
        }
        font-family: $roboto;
    }
    span {
        margin: {
            top: 0;
            left: 4px;
        }
        color: #D1D4D6;
        font-family: $roboto;
    }
    &:hover .delete {
      display: inline;
    }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 400px;
    border-width: 3px;
    height: 50px;
    .card-header {
      height: 100px;
    }
    &:hover .delete {
      display: inline;
      left:268px;
    }
  }  
}