@import "../helpers/variables";
@import "../helpers/mixins";

.container {
  margin: {
      left: auto;
      right: auto;
  }
  position: relative;
  display: flex;
  flex-wrap: wrap
}

.heading {
  margin-bottom: 15px;
  font: {
    size: 25px;
    family: $yanta;
  }
}

.skills-form {
  display: flex;
}

.form-controller {
  display: flex;
}

.skill-box {
  display: flex;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {
  .container {
    width: 900px;
    height: 400px;
    flex-wrap: unset;
    flex-direction: column;
  }

  .skills-form {
    justify-content: flex-start;
    margin-bottom: 60px;
  }
  
  .form-controller {
    flex-direction: column;
    margin-bottom: 90px;
  }

  .skill-box {
    justify-content: flex-start;
    margin-top: 52px;
  }
  .skills {
    background-color: inherit;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: unset;
    width: 100%;
  }
}

/* Tablet Styles 425 > keep view same as desktop*/
// @media only screen and (min-width: 422px) and (max-width: 960px) {
  
// }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container {
    width: 900px;
    height: 400px;
  }
  
  .skills-form {
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-controller {
    justify-content: space-evenly;
  }
  
  .skill-box {
    justify-content: center;
  }
  
  .skills {
    width: 830px;
    background-color: #F4F5F6;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
  }
  

}