 /* @media only screen and (max-width: 768px){
.skills-form{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-controller {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 700px;
}

.form-controller .form-item:nth-child(1){
 margin-bottom: 4px;
}

.form-controller .form-item:nth-child(2){
  width: 316px;
 }

 .select-input{
   width: 227px;
 }

 .form-controller .form-item:nth-child(3){
  width: 134px;
  margin-left: -88px;
 }

 input[type=submit]{
   width: 132px;
 } */

 /* .skill-box{
  justify-content: flex-start;
  align-items: flex-start;
 }

 .skills {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
 } 
} 


/* @media only screen and (max-width: 414px){
  .skills-form {     
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .form-controller {
    display: flex;
    justify-content: flex-start;
    width: 409px;
    flex-wrap: wrap;
  }
  .form-controller .form-item:nth-child(1){
    margin-left: -4;
  }

  input[type=text] {
    width: 347px;
    height: 50px;
    color: #34495E;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

.form-controller .form-item:nth-child(2){
  width: 202px;
}

.form-input, .select-input, .form-button {
  margin: 5px;
  width: 192px;
}

.skill-box {
  display: flex;
  justify-content: flex-start;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

card {
  width: 357px;
  height: 70px;
  margin-bottom: -1px;
  border: 3px solid #F4F5F6;
}

.card .card-header {
  height: 70px;
}

.card .card-base {
  height: 60px;
}

.card h6 {
  font-size: 15px;
}

} */
